<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active">
      <a routerLink="/courts">Courts</a>
  </li>
  
  <li role="presentation" routerLinkActive="active">
      <a routerLink="/umpires">Umpires</a>
    </li>

  <li role="presentation" routerLinkActive="active">
      <a routerLink="/players">Players</a>
  </li>
    
  <li role="presentation" routerLinkActive="active">
      <a routerLink="/draw">Draw</a>
  </li>

  <li role="presentation" routerLinkActive="active">
    <a routerLink="/schedule">Draw Schedule</a>
  </li>

</ul>
